:root {
  --main-color: rgb(50, 205, 50);
  --accent-color: lightgrey;
  --background-color: #363636;
}

.flex {
  display: flex;
}

body {
  background-color: var(--background-color);
  color: var(--accent-color);
}

h1 {
  text-align: center;
  font-size: 200%;
  margin: 2rem 0 1rem 0;
  color: var(--main-color);
}

header p {
  text-align: center;
  margin: 1rem 5rem 3rem 5rem;
}

main {
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

main div {
  flex-direction: column;
  border: dotted 2px var(--accent-color);
  padding: .5rem;
  gap: .5rem;
  flex: 1 0 200px;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

main div:hover {
  box-shadow: 0 0 .5rem var(--main-color);
}

main div h2,
main div p {
  color: var(--main-color);
}

main div h2 {
  position: relative;
  font-size: 125%;
  border: 2px solid var(--accent-color);
  padding: .2rem;
  margin-top: -20px;
  background-color: var(--background-color);
  border-radius: .35rem;
}

main div pre {
  background-image: linear-gradient(
    rgba(50, 205, 50, 0.3) 0%,
    rgba(50, 205, 50, 0.6) 100%
  );
}